PATH_add bin

# Point this to your remote server
export SSH_DEST="ubuntu@de.crockett.network"

# Create a one-time Tailscale auth key for your server at https://login.tailscale.com/admin/settings/keys
export LC_TAILSCALE_AUTH_KEY="TODO"

# Put SSH authorized_keys here
export LC_AUTHORIZED_KEYS="TODO"

# Allow uncommon terminals like kitty to connect via SSH
export TERM=xterm-256color

# Prevent run script from executing on controller machine; should only execute on server.
export DO_NOT_RUN=1
